.button-active {
  position: absolute;
  top: 45%;
  left: 45%;
  border: none;
  border-radius: 15px;
  padding: 14px;
  font-size: 18px;
  background-color: #3D3E3E;
  color: #fff;
  cursor: pointer;
  transition: 0.3s; 
}

.button-active:hover {
  background-color: #72788A;
  color: #3D3E3E;
}

.button-hidden {
  visibility: hidden;
}

.button:active {
  outline: none;
  border: none;
}
