.fontScreen {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.material-icons {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    align-content: center;
    align-items: center;
    line-height: 56px;
    vertical-align: middle;
}

.test {
  background-color: #fff;
  color: red;
}