/*.button {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.aside {
    padding-top: 25px;

} 

#example {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin-left: 250px;
    padding-top: 25px;
    box-shadow: -2px 0px 1px 1px #777777;
}*/