@import "./config/mixins";
@import "./config/common";
@import "./config/variables";
@import "./variables";

.light,
.dark {
    @extend .noselect;
    @extend %ripple-effect;
    @include border-radius(2px);
    @include transition(.2s);
    @include align-content($checked-width);
    overflow: visible;
    position: relative;
    display: inline-block;
    margin: 8px;
    height: $checked-width;
    width: $checked-width;
    border: 2px solid; 
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: $transparent;
    -webkit-tap-highlight-color: rgba(0,0,0, 0.0);

    &:hover {
        cursor: pointer;
    }

    &[data-checked= "true"] {
        border: 2px solid ;
        padding: 0px;  
    }

    & i{
       font-size: inherit; 
       color: inherit;
       pointer-events: none;
    }
}
 
.dark {
    border-color: $light;

    &[data-checked= "true"] {
        background-color: $checked-bg;
        border-color: $checked-bg;
        color: $checked-dark-color; 
    }

   &[disabled] {
        pointer-events: none;
        opacity: 0.30;

        &[data-checked= "true"] {
            background-color: #ffffff;
            border-color: #ffffff;
        }
    }    
}

.light {
    border-color: $checked-border;

    &[data-checked= "true"] {
        background-color: $checked-bg;
        border-color: $checked-bg;
        color: $checked-light-color;
    }

    &[disabled] {
        pointer-events: none;
        opacity: 0.26;

        &[data-checked= "true"] {
            background-color: #000000;
            border-color: #000000;
        }
    }   
}
