@mixin button-theme($name, $color, $background, $hover, $active) {
    #{ $name }:not([disabled]) {

        &.raised {
            color: $color ;
            background-color: $background;

            &:hover {
                background-color: $background*0.88;
            }

            &:active {
                background-color: $background*0.76;
            }
        }

        &.flat {
            color: $color;

            &:hover {
                background-color: $hover;
            }

            &:active {
                background-color: $active;
            }
        }   
    }
    .#{ $name }[disabled] {

        &.raised {
            color: fade-out($color,0.74);;
            background-color: fade-out($color,0.88);
        }

        &.flat {
            color: fade-out($color,0.74);
        }
    }
}

@mixin floating-theme($name, $color, $background, $hover) {
    #{ $name }.floating  {
        color: $color; 
        background-color: $background; 

        &:hover {
            background-color: $hover;
        }
    }
}
