$light-color: #000000 !default;
$light-background: #cbcbcb !default;
$light-active: fade-out(#999999,0.60) !default;
$light-hover: fade-out(#999999,0.88) !default;
$light-disabled: fade-out(#FFFFFF,0.3) !default;

$dark-color: #ffffff !default;
$dark-background: #3f51b5 !default;
$dark-background-active: #303f9f !default;
$dark-hover: fade-out(#CCCCCC,0.88) !default;
$dark-active: fade-out(#CCCCCC,0.75) !default;
$dark-disabled: fade-out(#FFFFFF,0.7) !default;

$height: 36px !default;
$min-width: 88px !default;

$fontSize: 14px !default;
$icon-size: 24px !default;
$weight: 400 !default;

$color:$darkness !default;
$background: #cbcbcb !default;

$hover: fade-out(#999999,0.88) !default;

$float-width: 56px !default;
$float-mini-width: 40px !default;
$float-light-color: #ffffff !default;
$float-light-background: #ff4081 !default;
$float-light-hover: $float-light-background*0.88 !default;
$float-dark-color: #212121 !default;
$float-dark-background: #ffffff !default;
$float-dark-hover: $float-dark-background*0.88 !default;
$float-weight: 800 !default;
