@import "./config/mixins";
@import "./config/common";
@import "./variables";


.raised-light,
.raised-dark,
.flat-light,
.flat-dark {
    @include transition(0.4s);
    @include border-radius(2px);
    @include align-content($height);

    &[data-ripple=true] {
        @extend %ripple-effect;
    }

    &[data-wave=true] {
        @extend %wave-effect;
    }

    position: relative;
    display: inline-block;
    padding: 0 8px;
    margin: 8px;
    height: $height;
    min-width: $min-width;
    outline: none;
    border: none;
    line-height: $height;
    text-transform: uppercase;
    font-size: $fontSize;
    font-family: "Roboto", sans-serif;
    font-weight: $weight;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0, 0.0); 

    &[disabled] {
        cursor: default;
    }                
}

.raised-light,
.raised-dark {

    &:not([disabled]) {
        box-shadow: 0 2px 1px 0px $shadow;
    }

    &:not([disabled]):active {
        box-shadow: 0px 4px 4px 0px  $shadow;
    }  
    &[disabled] {
        box-shadow: 0px;  
    }
}

.floating-light,
.floating-dark { 
    @include transition(0.4s);
    @include border-radius($float-width);
    @include align-content($float-width);

    &[data-ripple=true] {
        @extend %ripple-effect;
    }
    position: relative;
    display: inline-block;
    height: $float-width;
    width: $float-width;
    margin: 8px;
    line-height: $float-width;;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    outline: none;
    border: none;
    text-transform: uppercase;
    font-size: $icon-size;
    font-weight: $float-weight;
    font-family: "Roboto", sans-serif;
    text-decoration: none; 
    cursor: pointer;
    box-shadow: 0px 2px 1px 0px #cbcbcb;
    -webkit-tap-highlight-color: rgba(0,0,0, 0.0);

    &:active {
        box-shadow: 0px 4px 1px 0px #cbcbcb;
    } 
}

.raised-light,
.raised-dark {
    @include transition(0.4s);

    min-width: $min-width; 
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0, 0.0);

    &:not([disabled]) {
        box-shadow: 0 2px 1px 0px $shadow;
    }

    &:not([disabled]):active {
        box-shadow: 0px 4px 4px 0px  $shadow;
    }  
    &[disabled] {
        cursor: default;
        box-shadow: 0px;  
    }
} 
.raised-light {
    color: $light-color ;
    background-color: $light-background;

    &:hover {
        background-color: $light-background*0.88;
    }

    &:active {
        background-color: $light-background*0.76;
    }

    &[disabled] {
        pointer-events: none;
        color: fade-out($light-color,0.74);
        background-color: fade-out($light-color,0.88);
    }
}

.raised-dark{
    color: $dark-color ;
    background-color: $dark-background;

    &:hover {
        background-color: $dark-background*0.88;
    }

    &:active {
        background-color: $dark-background*0.76;
    }

    &[disabled] {
        pointer-events: none;
        color: fade-out($dark-color,0.74);
        background-color: fade-out($dark-color,0.88);
    }
}

.flat-light,
.flat-dark {
    @include transition(0.4s);

    min-width: $min-width; 
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0, 0.0);

    &[disabled] {
        pointer-events: none;
        cursor: default;
    }
}

.flat-light {
    color: $light-color;

    &:hover {
        background-color: $light-hover;
    }

    &:active {
        background-color: $light-active;
    }

    &[disabled] {
        color: fade-out($light-color,0.74); 
    }
}

.flat-dark {
    color: $dark-color;

    &:hover {
        background-color: $dark-hover;
    }

    &:active {
        background-color: $dark-active;
    }

    &[disabled] { 
        color: fade-out($dark-color,0.74); 
    }
}

.floating-light  {
    color: $float-light-color; 
    background-color: $float-light-background; 

    &:hover {
        background-color: $float-light-hover;
    }
}

.floating-dark  {
    color: $float-dark-color; 
    background-color: $float-dark-background; 

    &:hover {
        background-color: $float-dark-hover;
    }
}
.raised-light[data-icon=true],
.raised-dark[data-icon=true],
.flat-light[data-icon=true],
.flat-dark[data-icon=true],
.floating-light[data-icon=true],
.floating-dark[data-icon=true]  {
    height: $mini-width;
    min-width: $mini-width;
    width: $mini-width;
    line-height: $mini-width;
    padding: 0px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    
    & i {
        font-size: $mini-width*0.75;
        line-height: inherit !important;
    }
}
