@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transform($action) {
    -webkit-transform: $action; 
       -moz-transform: $action; 
        -ms-transform: $action; 
            transform: $action;
}

@mixin transition($delay) {
    -webkit-transition: $delay;
       -moz-transition: $delay;
         -o-transition: $delay;
            transition: $delay;
}

@mixin align-content($height) {
    white-space: nowrap;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    //line-height: inherit !important;
    vertical-align: middle;

}

@mixin animation-config($keyname,$duration,$iteration: 1,$function: linear) {
    -webkit-animation-name: $keyname; 
    -webkit-animation-duration: $duration; 
    -webkit-animation-iteration-count: $iteration; 
    -webkit-animation-timing-function: $function;
            animation-name: $keyname;
            animation-duration: $duration;
            animation-iteration-count: $iteration;
            animation-timing-function: $function;
}

@mixin wave-animation() {
    @-webkit-keyframes wave-animation {
        0% { -webkit-transform: scale(0.9); }
        50% { -webkit-transform: scale(1.05); }
        100% { -webkit-transform: scale(0.9); }
    }
    @keyframes wave-animation {
        0% { transform: scale(0.9); }
        50% { transform: scale(1.05); }
        100% { transform: scale(0.9); }
    }
}

@mixin ripple-animation() {
    @-webkit-keyframes ripple-animation {
        0% { -webkit-transform: scale(0.1); opacity: 0.22; }
        100% { -webkit-transform: scale(1.3); opacity: 0; }
    }
    @keyframes ripple-animation {
        0% { transform: scale(0.1); opacity: 0.22; }
        100% { transform: scale(1.3); opacity: 0; }
    }
}