$dark: #3D3E3E;
$light: #ffffff;
$darksky-500: #3f51b5;
$darksky-700: #303f9f;
$shadow: #424242;
$darkness-500: #333;
$darkness: #000000;
$primary-color: #cbcbcb;
$accent-color: #c69;

$animation-duration: 0.3s;
$opacity: 0.5;

$button-width: 88px;

$transparent: rgba(0,0,0,0);

