@import "./config/common";
.app-bar {
    height: 65px;
    padding: 5px 30px;
    background-color: #00BCD4;
    box-shadow: 1px 1px 2px 1px #aaa;
}
.active-item {
    transition: 0.15s;
    transform: translateX(0px);
    background-color: rgba(0,0,0,0.12);
}
.drawer {
    position: fixed;
    display: inline-block;
    transition: 0.3s;
    height: 100%;
    width: 250px;
    padding: 0px !important;
    margin: 0px;
    box-shadow: 1px 0px 1px 1px #ddd;
    overflow-y: hidden;
    background-color:rgba(0,0,0,0.12);
}
.logo {  
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 55px;
    cursor: pointer;

    &:hover,
    &:not(:active)  {
        color: white;
        text-decoration: none; 
    }
}
.list-item,
.list-item:not(:active),
.list-item:hover  {
    transition: 0.15s;
    display: inline-block;
    margin: 0px;
    padding: 0px 30px;
    height: 44px;
    line-height: 44px;
    width: 260px;
    border-left: 10px solid rgba(0,0,0,0.3); 
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    cursor: pointer;  
    &:hover {
        color: white;
        background-color: #999;
    }

    &:focus {  
        color: #333;
        background-color: #bbb;
    }
    & * {
       text-decoration: none; 
    }
}
.list-collapse {
    animation: collapse 0.15s ease-out;
    height: 176px;
    opacity: 1;
    & a {
        padding-left: 75px !important;
    }
}
.list-expand {
    transition: 0.15s ease-out;
    height: 0px;
    opacity: 0;
    & a {
        padding-left: 75px !important;
    }
}
.non-active-item {
    transition: 0.15s;
    transform: translateX(-10px);
}
.not-found {
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 250px;
    width: 500px;
    padding: 50px 0px;
    margin: auto;
    margin-top: 150px;
    border: 3px solid rgba(0,0,0,0.15);
    border-radius: 10px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
}
.table {
    & td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    & th {
        background-color: #dddddd;
    }
    & tr:nth-child(even) {
        background-color: #eeeeee;
    }
}
@keyframes collapse {
    0% {
        opacity: 0;
        height: 0px;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        height: 176px;
    }
}
