@import "./config/mixins";
@import "./config/common";
@import "./config/variables";

.opened {
    @extend .fullScreen;
    z-index: 10;

    .backSide {
        @extend .fullScreen;
        @include transition(0.4s ease-in-out);
        opacity: $opacity; 
        cursor: pointer; 
        visibility: visible;
        background-color: $dark; 
        z-index: 10; 
        -webkit-tap-highlight-color: rgba(0,0,0, 0.0);
    }
}

.closed {
    .backSide {
        @extend .fullScreen;
        @include transition(.4s ease-in-out);
        opacity: 0; 
        visibility: hidden;
    }
} 

.sideMenu {
    @include transition(.4s);
    position: fixed;
    z-index: 10;
    top: 0px;
    bottom: 0px;
    width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $light;  
    -webkit-tap-highlight-color: rgba(0,0,0, 0.0);
}

.sideMenu[data-side="left"] {
    left: 0px;
}

.sideMenu[data-side="right"] {
    right: 0px;
}
