.active{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.hidden{
  visibility: hidden;
}
.sideMenu{
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 250px;
  -webkit-transition: 0.5s;
  transition:0.5s;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;  
  }
.sideMenu[data-side= "left"]{
  left: 0px;
}
.sideMenu[data-side = "right"]{
  right: 0px;
}
.hidden .sideMenu[data-side= "left"]{
  -webkit-transform: translate(-100%);
  transform: translate(-100%);
}
.hidden .sideMenu[data-side= "right"]{
  -webkit-transform: translate(100%);
  transform: translate(100%);
}
.backSide{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5; 
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; 
  background-color: #3D3E3E;
}